.homeNav {
    height: 50px;
    width: 100%;
    background-color: darkgreen;
  }
  
  .homeNav ul {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .homeNav ul li {
    list-style: none;
  }
  
  .homeNav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
  }
  .homeNav a:hover {
    font-weight: bolder;
  }

  .showcase {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .info button{
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
  }

.info button:hover {
    background-color: darkgray;
}

.info a {
    text-decoration: none;
    color: darkgreen;
    font-size: 20px;
}