.randomImage {
  width: 300px;
  height: 150px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.randomImage img {
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  padding: 20px;
  
}

.randomImage div {
  padding: 20px;
}
