.mainNav {
    background-color: blueviolet;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainNav li {
    list-style: none;
}

.mainNav a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}